// TODO: CSS reset, a nice color palette

$body-color: #2A2A2A;

body {
  color: $body-color;
  font-family: sans-serif;
}

#container {
  max-width: 1024px;
  margin: 0 auto;
}


svg.map {
  width: auto !important;
  height: auto !important;

  .unit {
      transition: fill 0.4s ease-in-out;
  }

  .unit-selected {
      transition: stroke 0.4s ease-in, stroke-width 0.2s ease-in;
  }

  .outer-boundary, .inner-boundary, .outline {
      fill: none;
      transition: stroke 0.4s ease-in, stroke-width 0.2s ease-in;
  }

  // .map-label {
  //     fill: $fill-gray-darker;
  //     font-size: 85%;
  // }

  // .map-inset {
  //     fill: none;
  //     stroke: $fill-gray;
  //     stroke-width: 0.25px;
  // }

}
