@import "./reset.scss";

$black: hsl(0, 0%, 4%);
$white: #FFFFFF;
$dark-grey: hsl(0, 0%, 21%);

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

body {
  color: $black;
  font-family: $family-sans-serif;
}

#container {
  max-width: 1024px;
  margin: 0 auto;
}

// TODO Split these off

.ukem-map-wrapper {
  position: relative;
}

.ukem-map {

  width: auto !important;
  height: auto !important;

  .ukem-unit {
    transition: fill 0.4s ease-in-out;
  }

  .ukem-unit-selected {
    transition: stroke 0.4s ease-in, stroke-width 0.2s ease-in;
  }

  .ukem-outer-boundary, .ukem-inner-boundary, .ukem-unit-outline {
    fill: none;
    transition: stroke 0.4s ease-in, stroke-width 0.2s ease-in;
  }

}

.ukem-tooltip {

  position: absolute;
  text-align: left !important;

  padding: .5rem;
  border-radius: .25rem;
  max-width: 50%;

  color: $white;
  background-color: rgba($dark-grey, 0.7);

  visibility: visible;
  opacity: 1;
  transition: opacity 200ms linear;

  &.ukem-tooltip-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 200ms, opacity 200ms linear;
  }
}
